@model IEnumerable<BulkSMSWebApp.ViewModels.Eliminados>


<table class="table table-striped table-hover table-bordered" id="MyTable">
    <thead>
        <tr class="label-info">
            <th class="text-center" width="20%"> Mensaje </th>

            <th class="text-center" width="19.2%"> Fecha Mensaje </th>

            <th class="text-center" width="16.6%"> Teléfono </th>

            <th class="text-center" width="16.6%">  Nombre Contacto </th>

            <th class="text-center" width="13%">   Dirección </th>

            @*<th> Desactivado Por </th>

            <th> Enviado por</th>*@

            <th class="text-center" width="15%"> Opciones </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            string bold = item.EstadoID == 6 ? "font-weight: bold" : null;

            <tr style="@bold">

                <td class="text-center">
                    @if (item.CuerpoMensaje.ToString().Length >= 20)
                    {
                    @Html.Raw(item.CuerpoMensaje.Substring(0, 20) + " ...")
                    }
                    else
                    {
                    @Html.DisplayFor(modelItem => item.CuerpoMensaje)
                    }
                </td>

                <td class="text-center">@Html.DisplayFor(modelItem => item.FechaMensaje)</td>

                <td class="text-center">  @Html.DisplayFor(modelItem => item.Telefono)</td>

                <td class ="text-center"> @Html.DisplayFor(modelItem => item.Nombres)</td>

                <td class="text-center"> @switch (item.FlujoID)
                     {
                         case 1:
                             @Html.Raw("Entrada");
                             break;
                         case 2:
                            @Html.Raw("Salida");
                            break;   
                     } 
                </td>

                @*<td>
                    @Html.DisplayFor(modelItem => item.DesactivadoPor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EnviadoPor)
                </td>*@

                <td class="text-center">
                   

                        <a href="@Url.Action("Details","Mensaje", new { id=@item.MensajeID })">
                            <span class="fa fa-info-circle"></span>
                            Detalles
                        </a>

                  

                </td>
            </tr>
        }

    </tbody>
</table>

