@model BulkSMSWebApp.ViewModels.MensajeEntrante
@using BulkSMSWebApp.Helpers;
@{
    ViewBag.Title = "Detalle Mensaje";
}


<div id="RespuestaEnviada" class="alert alert-info alert-dismissable text-center" style="display:none">
    

</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Detalles del Mensaje</h4>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal col-md-12 col-md-offset-0">

                    <dt>
                        Mensaje:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CuerpoMensaje)
                    </dd>
                    <hr />

                    <dt>
                        Número Remitente:
                    </dt>

                    <dd>@Html.DisplayFor(model => model.Telefono)</dd>
                    <hr />

                    <dt>Nombre Remitente:</dt>
                    <dd>@Html.DisplayFor(model => model.Nombres)</dd>
                    <hr />

                    <dt>
                        Fecha Recibido:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FechaMensaje)
                    </dd>
                    <hr />

                    <dt>
                        Dirección:
                    </dt>

                    <dd>
                        @switch (Model.FlujoID)
                        {
                            case 1:
                                {
                                    @Html.Raw("Salida"); break;
                                }
                            case 2:
                                {
                                    @Html.Raw("Entrada"); break;
                                }
                        }
                    </dd>
                    <hr />

                    <dt>
                        Estado:
                    </dt>

                    <dd>
                        @switch (Model.EstadoID)
                        {
                            case 5:
                                {  @Html.Raw("Leído"); break;
                                }
                            case 6:
                                { @Html.Raw("No Leído"); break;
                                }
                        }
                    </dd>
              

                </dl>
                <hr />

                <div class="col-md-12">
                    <a href="@Url.Action("Index", "Mensaje")" class="btn btn-info" style="width:25%" }">
                        <span class="fa fa-backward"></span>
                        Volver
                    </a>
                    &nbsp;
                    <button id="btnRespond" type="button" class="btn btn-info" style="width:25%" value="@Model.Telefono">
                        Responder
                        <span class="fa fa-commenting-o"></span>
                    </button>
                </div>

               
            </div>
        </div>
    </div>

</div>

<script>

    function mostrarModal() {
        $('#agregarContactos').modal('show');
    }

    function RespuestaEnviada()
    {
        $('#agregarContactos').modal('hide');
        $("#RespuestaEnviada").fadeTo(5000, 400).slideUp(400, function () {
            $("#RespuestaEnviada").hide();
        });
    }

    $(function () {
        $('#btnRespond').on('click', function () {
            var telID = this.value;
            
            $.ajax({
                url: '/Mensaje/ResponderSMS',
                data: { 'telefono' : telID },
                method: "GET",
                async: true,
                //beforeSend: function () {
                //    $(".loader").show();
                //    HideDiv();
                //},
                success: function (data) {
                    mostrarModal();
                    $("#edit-container").html(data);  
                },
               
                //complete: function () {
                //    $(".loader").hide();
                //}
            });
        });



    });
</script>


@section Scripts
{

}