@model BulkSMSWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar Usuario";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Ingrese los Datos del Usuario</h2>

                </div>

                <div class="panel-body col-md-offset-0">

                    <section class="col-lg-10">
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.Nombres, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Apellidos, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(m=>m.Rol, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.Rol, (SelectList)ViewBag.RolID, "Seleccionar", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                                <br />
                                <input type="submit" class="btn btn-info" value="Registrar" style="width:49%" />
                                <a class="btn btn-danger" href="javascript:void(0);" onclick="history.go(-1);" style="width:49%">Cancelar</a>

                            </div>

                        </div>

                    </section>

                </div>

            </div>

        }

    </div>
</div>


@section Scripts {

}
