@model BulkSMSWebApp.ViewModels.CreateEditContacto

@{
    ViewBag.Title = "Registrar Contacto";
}

<script type="text/javascript">

    function borrarFila(obj) {
        $(obj).closest('tr').remove();
        return false;
    }

    $(document).ready(function () {


        //Event Handler que se activa cuando clickamos el botón guardar
        $("#btnGuardar").on("click", function (e) {
            var listName = "Telefonos";
            var qtd = 0;
            var tabla = document.getElementById("phonesTable");  //obtenemos la tabla con el id = phonesTable
            var fila = tabla.rows; // obtenemos las filas de la tabla

            //Si la tabla solo contiene la fila del header (no hay datos), evitamos que envíe el submit a través de e.preventDefault y mostramos una alerta.
            if (fila.length === 1) {
                e.preventDefault();
                alert("ERROR!! Debe agregar al menos un número de contacto \n \nPor Favor agregue un número de teléfono e intente nuevamente");
            }
            else { // Si hay datos entonces obtenemos la lista de telefonos y a través de la función prepend le mandamos esa lista como parametro al 
                // al form que tiene la clase .form-horizontal y así se manda la lista al controller.
                $("#phonesTable > tbody > tr").each(function () {
                    var telefono = $(this).data("telefono");
                    var descripcion = $(this).data("descripcion");
                    $(".form-horizontal").prepend("<input type='hidden' name='" + listName + "[" + qtd + "].NumeroTel' value='" + telefono + "'>");
                    $(".form-horizontal").prepend("<input type='hidden' name='" + listName + "[" + qtd + "].Descripcion' value='" + descripcion + "'>");
                    qtd += 1;
                });
            }
        });


        //Event Handler que se activa cuando presionamos click en el botón agregar
        $("#btnAgregar").on("click", function () {
            var telefono = $("#Tel_NumeroTel").val(); //obtenemos el valor del teléfono a agregar
            var descripcion = $("#Tel_Descripcion").val(); //obtenemos el valor del tipo de telefono seleccionado

            var regex = new RegExp("^([+][5][0][5])?[2|5|8|7][0-9]{7}$"); //Definimos la expresión regular
            if (!regex.test(telefono)) // si el valor ingresado no corresponde con la expresion regular, mandamos una alerta y enfocamos el elemento.
            {

                alert("ERROR!! El Teléfono ingresado no es válido. \n\nPor favor provee un número telefónico válido e intenta nuevamente");
                $("#Tel_NumeroTel").focus();
                return;
            }


            if (telefono == "" || descripcion == "") { // si no se han ingresado los datos se manda una alerta.
                alert("ERROR!! \n\nDebe Escribir un Número de Teléfono y Seleccionar el Tipo de Teléfono");
            }
            else {
                var tabla = document.getElementById("phonesTable");  //obtenemos la tabla con el id = phonesTable
                var fila = tabla.rows; // obtenemos las filas de la tabla
                var columna = tabla.cells; // obtenemos las columnas de la tabla
                var enlace = "<button type='button' class='btn btn-warning' onClick='return borrarFila(this);'><span class='fa fa-trash-o'></span> Remover </button>"
                if (fila.length > 1) // verificamos que la tabla tenga mas filas que la del header
                {
                    for (var i = 0; i < fila.length; i++) {
                        var valor = tabla.rows[i].cells[0].innerHTML;
                        if (valor === telefono) { // verificamos que no se ingrese un número repetido
                            alert("ERROR!! El Número ingresado ya ha sido agregado. \n\nPor favor provea un número diferente e intente nuevamente");
                            return;
                        }
                    }
                    $("#phonesTable > tbody").append("<tr data-telefono='" + telefono + "' data-descripcion='" + descripcion + "'><td class='text-center'>" + telefono + "</td><td class='text-center'>" + descripcion + "</td><td class='text-center'>" + enlace + "</td></tr>");
                    $("#Tel_NumeroTel").val('');
                    $("#Tel_Descripcion").val('');
                    $("#Tel_NumeroTel").focus();

                }
                else {
                    $("#phonesTable > tbody").append("<tr data-telefono='" + telefono + "' data-descripcion='" + descripcion + "'><td class='text-center'>" + telefono + "</td><td class='text-center'>" + descripcion + "</td><td class='text-center'>" + enlace + "</td></tr>");
                    $("#Tel_NumeroTel").val('');
                    $("#Tel_Descripcion").val('');
                    $("#Tel_NumeroTel").focus();
                }

            }
        });

    });
</script>


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm("Create", "Contacto", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">Datos Generales</h4>
                </div>

                <div class="panel-body col-md-offset-0">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Contactos.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contactos.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contactos.Nombres, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contactos.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contactos.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contactos.Apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contactos.DepartamentoID, "Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Contactos.DepartamentoID, (SelectList)ViewBag.DepartamentoID, "Seleccionar", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Contactos.DepartamentoID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contactos.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contactos.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contactos.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">Números de Contacto</h4>
                </div>

                <div class="panel-body">
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefonos[0].NumeroTel, "Num. Teléfono", new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.Telefonos[0].NumeroTel, new { @class = "form-control", @id = "Tel_NumeroTel" })
                                @*@Html.Editor("NumeroTel", new { htmlAttributes = new { @class = "form-control", id = "Tel_NumeroTel" } })*@
                                @Html.ValidationMessageFor(model => model.Telefonos[0].NumeroTel, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Telefonos[0].Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownList("Descripcion", new List<SelectListItem>
                                                   {
                                                    new SelectListItem{Text = "Móvil Claro" , Value = "Móvil Claro"},
                                                    new SelectListItem{Text = "Móvil Móvistar", Value = "Móvil Móvistar"},
                                                    new SelectListItem{Text = "Planta Claro", Value = "Planta Claro"},
                                                    new SelectListItem{Text= "Planta Móvistar", Value="Planta Móvistar"}

                                                   }, "Seleccionar", htmlAttributes: new { @class = "form-control", id = "Tel_Descripcion" })
                                @*@Html.ValidationMessageFor(model => model.Tel.Descripcion, "", new { @class = "text-danger" })*@

                            </div>


                            <div class="col-md-3">
                                <button type="button" id="btnAgregar" style="width:100%" class="btn btn-info">Agregar</button>
                            </div>

                        </div>

                        <hr />
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table id="phonesTable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr class="label-info white">
                                            <th class="text-center">Número de Contacto</th>
                                            <th class="text-center">Tipo de Número</th>
                                            <th class="text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>

                </div>
            </div>

            @*<div class="col-md-12">*@
                <div class="panel">
                    <div class="panel-body">
                        <input type="submit" class="btn btn-lg btn-info" value="Registrar" style="width:49%" id="btnGuardar" />&nbsp;
                        <a class="btn btn-lg btn-danger" href="javascript:void(0);" onclick="history.go(-1);" style="width:49%">Cancelar</a>
                    </div>
                @*</div>*@
               
                
            </div>

        }

    </div>
</div>



@section Modal {

    @{ Html.RenderPartial("_DeleteConfirmationModal"); }

}




@section Scripts {

}