
<div class="divhidden">
    @Html.Hidden("HiddenValue", new { @id = "contactoid" })
</div>

@{
    BulkSMSWebApp.DAL.BulkSMSContext db = new BulkSMSWebApp.DAL.BulkSMSContext();
    var contacto = db.Contactos.Find(ViewData["id"]);    
}

<div class="modal fade" id="detalleContacto" tabindex="-1" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">Detalles del Contacto</h4>
            </div>
            <div class="modal-body">
                
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => contacto.Nombres)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => contacto.Nombres)
                    </dd>
@*
        <dt>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.NombreEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>*@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No, Cancelar!!</button>
                <button type="submit" class="btn btn-info" id="IdContacto"> Si, Confirmar!!</button>
            </div>
        </div>
    </div>
</div>


