@model IEnumerable<BulkSMSWebApp.Models.Contacto>

@{
    ViewBag.Title = "Index";
}



<h2>Contactos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>



<script type="text/javascript">
    $(function () {
        $('#term').autocomplete({
            source: '@Url.Action("getContacts")'
        });
    });
</script>

@using (@Html.BeginForm())
{
    <b>Nombres</b>
    @Html.TextBox("SearchString", null, new { id = "term" })
    <input type="submit" value="Buscar" />
}

</br>

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.NombreDepartameto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.NombreDepartameto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>


                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |

                @if (item.EstadoID == 1)
                {
                    @Html.ActionLink("Desactivar", "Delete", new { id = item.ID })
                    @Html.Raw(" | ");
                }

                @if (item.EstadoID == 2)
                {
                    @Html.ActionLink("Activar", "Activar", new { id = item.ID })
                    @Html.Raw(" | ");
                }

            </td>
        </tr>
    }

</table>

