@model BulkSMSWebApp.ViewModels.ContactoCelGrupo
@using BulkSMSWebApp.Helpers;


@{
    ViewBag.Title = "Listado de Contactos";
}

<p>
    <a href="@Url.Action("Create","Contacto")" class="btn btn-info">
        Nuevo Contacto
        <span class="fa fa-fw fa-plus-circle"></span>
    </a>
</p>


<script>

    //function HideDiv()
    //{
    //    $('#DivCarga h5').remove
    //    $('#DivCarga').hide;
    //}

    $(function () {

        var table = $('#myTable').dataTable({
            "lengthMenu": [[4, 10, 20, -1], [4, 10, 20, "Todos"]]
        });

        var tabla = $('#myTable').DataTable()
        var allRows = table.fnGetNodes();

        $('#myTable').delegate(".selected", "click", function () {
            for (var i = 0; i < allRows.length; i++) {
                tabla.rows('.success').nodes().to$().removeClass('success');
            }
            $(this).parents('tr').addClass('success');
        });


        $("#myTable").delegate(".open-dialog", "click", function () {
            var idActual = $(this).data('id');
            $(".idContacto").prepend("<input type='hidden' name='id' value='" + idActual + "'>");
        })

        $("#myTable").delegate(".activar_opendialog", "click", function () {
            var idActual = $(this).data('id');
            $(".idContacto").prepend("<input type='hidden' name='id' value='" + idActual + "'>");
        })

        //$("#myTable").delegate(".detalles", "click", function () {
        //    var idActual = $(this).data('id');
        //    $(".divhidden #contactoid").val(idActual);
        //})
    });
</script>

</br>


<div id="DivCarga" class="alert alert-info alert-dismissable text-center" style="display:none">

    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <img src="~/Images/spiffygif_32x32.gif" />
    <h5><span class="fa fa-info-circle"> </span> Por favor espere mientras se obtienen los resultados de su búsqueda </h5>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered" id="myTable">
        <thead>
            <tr class="label-info">
                <th class="text-center"> Nombres </th>
                <th class="text-center"> Apellidos </th>
                <th class="text-center"> Departamento </th>
                <th class="text-center"> Email </th>
                <th class="text-center"> Estado </th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Contactos)
            {
                <tr>
                    <td width="16.6%" class="text-center">
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td width="16.6%" class="text-center">
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td width="16.6%" class="text-center">
                        @Html.DisplayFor(modelItem => item.Departamento.NombreDepartameto)
                    </td>
                    <td width="17%" class="text-center">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td width="16%" class="text-center">
                        @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
                    </td>

                    <td width="16.6%">
                        @Ajax.RawActionLink(string.Format("<span class='fa fa-hand-pointer-o'> Mostrar Teléfonos </span>"), "Index", "Contacto", new { id = item.ContactoID },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "PhoneList",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "DivCarga",
                            OnBegin="document.location='#DivCarga'",
                            OnSuccess = "document.location='#PhoneList'"
                        }, new { @class = "selected" })



                        <br />
                        <a href="@Url.Action("Edit", "Contacto", new { id = @item.ContactoID })">
                            <span class="fa fa-edit"></span>
                            Editar
                        </a>
                        <br />

                        @if (item.EstadoID == 1 && User.IsInRole("Administrador"))
                        {
                            <a data-toggle="modal" data-id="@item.ContactoID" class="open-dialog selected" href="#deleteConfirmModal">
                                <span class="fa fa-trash"></span>
                                Desactivar
                            </a>
                        }

                        @if (item.EstadoID == 2 && User.IsInRole("Administrador"))
                        {
                            <a data-toggle="modal" data-id="@item.ContactoID" class="activar_opendialog selected" href="#activeConfirmModal">
                                <span class="fa fa-check"></span>
                                Activar
                            </a>
                        }

                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>

<div id="PhoneList" class="table-responsive">

</div>



@section Modal {

    @{ Html.RenderPartial("_ActivarConfirmationModal"); }
    @{ Html.RenderPartial("_DeleteConfirmationModal"); }


}

@section Scripts{

}