@model BulkSMSWebApp.ViewModels.ContactoCelGrupo

@{
    ViewBag.Title = "Contactos";
}



<h2>Contactos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<script>
    $(function () {

        var table = $('#myTable').dataTable({
            "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Todos"]]
        });

        var tabla = $('#myTable').DataTable()
        var allRows = table.fnGetNodes();

        $('#myTable').delegate(".selected", "click", function () {
            for (var i = 0; i < allRows.length; i++) {
                tabla.rows('.success').nodes().to$().removeClass('success');
            }
            $(this).parents('tr').addClass('success');
        });

    });
</script>

</br>

<div class="table-responsive">
    <table class="table" id="myTable">
        <thead>
            <tr class="label-info">
                <th> Nombres </th>
                <th> Apellidos </th>
                <th> Email </th>
                <th> Estado </th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Contactos)
            {

                string filaSeleccionada = "";
                if (item.ContactoID == ViewBag.ContactoID)
                {
                    filaSeleccionada = "success";
                }
                <tr class="@filaSeleccionada">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
                    </td>

                    <td>
                        @Ajax.ActionLink("Seleccionar", "Index", new { id = item.ContactoID }, new AjaxOptions
                                                                    {
                                                                        HttpMethod = "GET",
                                                                        UpdateTargetId = "tablaTelefonos",
                                                                        InsertionMode = InsertionMode.Replace
                                                                    }, new { @class = "selected" })

                        @*@Html.ActionLink("Seleccionar", "Index", new { id = item.ContactoID })*@ |
                        @Html.ActionLink("Editar", "Edit", new { id = item.ContactoID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ContactoID }) |

                        @if (item.EstadoID == 1)
                        {
                            @Html.ActionLink("Desactivar", "Delete", new { id = item.ContactoID })
                            @Html.Raw(" | ");
                        }

                        @if (item.EstadoID == 2)
                        {
                            @Html.ActionLink("Activar", "Activar", new { id = item.ContactoID })
                            @Html.Raw(" | ");
                        }

                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>

<div id="tablaTelefonos" class="table-responsive">

</div>



