@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("ChangePassword", "Manage")"title="Click para cambiar Contraseña">
                Hola @User.Identity.GetUserName()!
                <span class="fa fa-fw fa-user"></span>
            </a>

            @*@Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Click para cambiar Contraseña" })*@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión<span class="fa fa-fw fa-sign-out"></span></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Regístrate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
