<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plataforma SMS IDEAY</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
</head>

<body class=" theme-blue">

    <img src="~/Images/Header.png" class="img-responsive" width="100%" />
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span style="color:black;" class="navbar-brand"><span class="fa fa-fw fa-paper-plane"></span>Plataforma SMS</span>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">

        </div>
    </div>

    <div class="dialog">

        @*Login content here*@
        @{ Html.RenderPartial("_Alert"); }
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        // le agrega un * a todos los elementos que sean required



        //Evita que el navegador retroceda el historial cuando se presiona la Tecla BackSpace
        $(document).unbind('keydown').bind('keydown', function (event) {
            var doPrevent = false;
            if (event.keyCode === 8) {
                var d = event.srcElement || event.target;
                if ((d.tagName.toUpperCase() === 'INPUT' &&
                     (
                         d.type.toUpperCase() === 'TEXT' ||
                         d.type.toUpperCase() === 'PASSWORD' ||
                         d.type.toUpperCase() === 'FILE' ||
                         d.type.toUpperCase() === 'EMAIL' ||
                         d.type.toUpperCase() === 'SEARCH' ||
                         d.type.toUpperCase() === 'DATE')
                     ) ||
                     d.tagName.toUpperCase() === 'TEXTAREA') {
                    doPrevent = d.readOnly || d.disabled;
                }
                else {
                    doPrevent = true;
                }
            }

            if (doPrevent) {
                event.preventDefault();
            }
        });

        //oculta automáticamente la alerta que se muestra
        $("#success-alert").fadeTo(5000, 400).slideUp(400, function () {
            $("#success-alert").alert('close');
        });

    </script>


</body>

</html>