<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plataforma SMS IDEAY</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/MasterPage/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/js")

    <script type="text/javascript">
        $(function () {
            $(".knob").knob();
        });
    </script>
</head>

<body class="theme-blue">
    @RenderSection("Modal", required: false)

    <style type="text/css">
        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
            color: #fff;
        }

        #span {
            color: white !important;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            var uls = $('.sidebar-nav > ul > *').clone();
            uls.addClass('visible-xs');
            $('#main-menu').append(uls.clone());
        });
    </script>


    @Html.Partial("_Header")

    @Html.Partial("_Navegacion")


    <div class="content">
        <div class="header text-center">

            <h1 class="page-title">@ViewBag.Title</h1>

            @if (ViewBag.Title.ToString().ToUpper().Contains("REGISTRAR") || ViewBag.Title.ToString().ToUpper().Contains("CREAR")
                    || ViewBag.Title.ToString().ToUpper().Contains("ENVIAR"))
            {
                <p>Los Campos con el símbolo <strong class="text-danger"> * </strong> son obligatorios</p>
            }

        </div>
        <div class="modal fade" id="agregarContactos" tabindex="-1" role="dialog" aria-labelledby="updateGroup" aria-hidden="true">
            <div id="edit-container">

            </div>
        </div>
        @{ Html.RenderPartial("_Alert"); }
        @RenderBody()


        <div class="footer">
            @*<footer> *@
            <hr>
            <p class="text-center">© @DateTime.Now.Year Equipos y Sistemas S.A </p>
            @*</footer>*@
        </div>

    </div>



    @RenderSection("scripts", required: false)


    <script type="text/javascript">

        // le agrega un * de color rojo a todos los elementos que sean required
        // y tengan asociado un label a travez de su id.

        $('*').each(function () {
            var req = $(this).attr('data-val-required');
            if (undefined != req) {
                var label = $('label[for="' + $(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });


        //Evita que el navegador retroceda el historial cuando se presiona la Tecla de Retorno
        $(document).unbind('keydown').bind('keydown', function (event) {
            var doPrevent = false;
            if (event.keyCode === 8) {
                var d = event.srcElement || event.target;
                if ((d.tagName.toUpperCase() === 'INPUT' &&
                     (
                         d.type.toUpperCase() === 'TEXT' ||
                         d.type.toUpperCase() === 'PASSWORD' ||
                         d.type.toUpperCase() === 'FILE' ||
                         d.type.toUpperCase() === 'EMAIL' ||
                         d.type.toUpperCase() === 'SEARCH' ||
                         d.type.toUpperCase() === 'DATE')
                     ) ||
                     d.tagName.toUpperCase() === 'TEXTAREA') {
                    doPrevent = d.readOnly || d.disabled;
                }
                else {
                    doPrevent = true;
                }
            }

            if (doPrevent) {
                event.preventDefault();
            }
        });

        //oculta automáticamente despues de 5 segundos la alerta que se muestra despues de cada operación
        $("#success-alert").fadeTo(5000, 400).slideUp(400, function () {
            $("#success-alert").alert('close');
        });

    </script>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>